.wrapper {
  display: flex;
  width: 500px;
  height: 500px;
  background-color: #f5f5f5;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.issuesWindowWrapper {
  width: 495px;
  height: 490px;
  overflow-y: scroll;
  margin: auto;
}

.issueDate {
  padding: 0.6875rem 0 0.5rem 0.875rem;
  font-size: 12px;
  color: #8a8995;
}

@media (max-width: 669px) {
  .wrapper {
    width: 400px;
  }
  .issuesWindowWrapper {
    width: 395px;
  }
}

@media (max-width: 570px) {
  .wrapper {
    width: 300px;
  }
  .issuesWindowWrapper {
    width: 295px;
  }
}

@media (max-width: 460px) {
  .wrapper {
    width: 220px;
  }
  .issuesWindowWrapper {
    width: 215px;
  }
}
