@import "../../variables.css";

.filter {
  display: flex;
  justify-content: space-between;
  padding: 1.0625rem 0.9375rem;
}

.filter:hover {
  background-color: var(--dark-blue);
}

.iconWithName {
  display: flex;
}

.filterIcon {
  fill: var(--white);
}

.filterName {
  color: var(--white);
  padding-left: 0.5625rem;
  font-size: 14px;
}

.filterAmountOfIssues {
  font-family: "Proxima Nova";
  color: var(--grayish-blue);
  font-size: 14px;
}
