@import "../../variables.css";

.issue {
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  margin: 0.25rem 0.875rem;
  list-style: none;
  padding: 0.8125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.issueName {
  color: var(--ebony);
}
