/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Roboto/roboto-v27-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    /* IE6-IE8 */ url("./assets/fonts/Roboto/roboto-v27-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/Roboto/roboto-v27-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("./assets/fonts/Roboto/roboto-v27-latin-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/ProximaNova/Proxima-Nova-Alt-Rg-Regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    /* IE6-IE8 */
      url("./assets//fonts/ProximaNova/Proxima-Nova-Alt-Rg-Regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets//fonts/ProximaNova/Proxima-Nova-Alt-Rg-Regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("./assets/fonts/ProximaNova/Proxima-Nova-Alt-Rg-Regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
}
